@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #141414;
  color: #fdfdfd;
}
h1 {
  font-size: 2rem;
}
h2 {
  padding-top: 20px;
}

/* NAVBAR  */
.nav-item > a,
.nav-right > a,
.nav-right i {
  color: #a0a0a0;
}

.nav-right-close i {
  color: #a0a0a0;
}

.nav-right-close i:hover {
  color: white;
}

.navbar-toggler:hover {
  opacity: 0.8;
}

.nav-item > a:hover,
.nav-right > a:hover,
.nav-right i:hover {
  color: white;
  cursor: pointer;
}

.open-nav a,
.open-nav i {
  color: #a0a0a0;
  cursor: pointer;
}

.open-nav a:hover,
.open-nav i:hover {
  color: white;
  cursor: pointer;
}

.open-nav div:hover {
  cursor: pointer;
}
section img {
  width: 100%;
  transition: all 0.2s ease-in;
}

section img:hover {
  transform: scale(1.15);
  z-index: 1;
}
footer {
  max-width: 800px;
  margin-inline: auto;
}

footer .social {
  color: #a0a0a0;
}

footer .row a {
  font-size: 12px;
  text-decoration: none;
  color: #a0a0a0;
}

footer a:hover,
footer i:hover {
  color: #fdfdfd;
}

footer p:last-child {
  font-size: 10px;
  color: #a0a0a0;
}
.general-btn {
  background-color: #14141421;
  color: #c9c9c9;
  border: 2px solid #585c60;
  padding: 0.3rem 0.5rem;
  font-size: 10px;
}

.general-btn:hover {
  background-color: #1b1b1b;
  color: #aaaaaa;
}

.custom-width {
  width: 500px;
}

.row img {
  width: 100%;
}
.bi-pencil-fill {
  background-color: #282828;
  padding: 0.3rem;
  border-radius: 20px;
  border: 1px solid white;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  box-shadow: inset 0px -20px 10px -10px #00000050, 0px 3px 4px 0px #00000080;
}

.bi-pencil-fill:hover {
  opacity: 0.8;
}
.form-check-input {
  background-color: #282828;
  border: 1px solid #a0a0a0;
  padding: 0.7rem;
}

.form-check-input[type="checkbox"] {
  border-radius: 0;
}

.form-check-input:hover {
  background-color: #282828;
  border: 1px solid #a0a0a0;
  padding: 0.7rem;
}

.form-check-input:focus {
  background-color: #282828;
  border: 1px solid #a0a0a0;
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #282828;
  border: 1px solid #a0a0a0;
}

.form-check-input + label {
  font-size: 0.85rem;
}
header {
  position: sticky;
  top: 0;
  z-index: 2;
}
#carouselImg:hover {
  scale: 1.2;
  z-index: 1;
  cursor: pointer;
}
.position-relative {
  cursor: pointer;
}
.custom-btn2:hover {
  background-color: whitesmoke;
}
